.cc-3d__button, .cc-3d__upload-button {
  color: rgb(99, 99, 99);
  margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(244, 244, 244);
  border-image: initial;
  background: rgb(245, 245, 245);
  padding: 1rem;
  display: inline-block;
  transition: all 0.32s ease-in-out;
}

.cc-3d__button.small {
  padding: 0.5rem 1rem;
}

.cc-3d__button.active {
  background: rgb(99, 99, 99);
  color: rgb(245, 245, 245);
}

.cc-3d__modelviewer-container {
  position: relative;
  background: rgb(245, 245, 245);
  width: 75%;
}

.cc-3d__modelviewer-container.active {
  background: transparent;
}

.cc-3d__modelviewer-container.active canvas {
  border: 1px solid rgb(244, 244, 244);
}

.cc-3d__modelviewer-actions {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: none;
}

.cc-3d__modelviewer-container.active .cc-3d__modelviewer-actions {
  display: block;
}

.cc-3d__modeled-in-box {
  color: rgb(138, 138, 138);
  margin: 1rem 0;
}

.cc-3d__info-box {
  color: rgb(138, 138, 138);
}

.cc-3d__info-box.active {
  margin: 1rem 0;
}
